<div
  class="card bg-base-100 flex flex-col items-center justify-center rounded-lg"
>
  <h1 class="card-title mt-4">Add Option</h1>
  <form
    [formGroup]="optionForm"
    (ngSubmit)="onSave()"
    class="card-body flex w-64 flex-col space-y-4"
  >
    <input
        [ngClass]="{
            'border-error':
            optionForm.controls['name'].touched &&
            optionForm.controls['name'].invalid,
            'border-primary':
            optionForm.controls['name'].touched && optionForm.controls['name'].valid,
        }"
      type="text"
      placeholder="Nom"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="name"
    />
    <input
    [ngClass]="{
        'border-error':
        optionForm.controls['code'].touched &&
        optionForm.controls['code'].invalid,
        'border-primary':
        optionForm.controls['code'].touched && optionForm.controls['code'].valid,
    }"
      type="text"
      placeholder="Code"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="code"
    />
    <input
    [ngClass]="{
        'border-error':
        optionForm.controls['description'].touched &&
        optionForm.controls['description'].invalid,
        'border-primary':
        optionForm.controls['description'].touched && optionForm.controls['description'].valid,
    }"
      type="text"
      placeholder="Description"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="description"
    />
      <details class="dropdown">
        <summary 
        [ngClass]="{
          'border-error':
          coursesArray.touched &&
          coursesArray.invalid,
          'border-primary':
          coursesArray.touched && coursesArray.valid,
        }"
        class="select focus:ring-none focus:border-secondary focus:outline-none">Cours</summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li *ngFor="let course of courseList$ | async" [value]="course.id">
              <label class="flex items-center gap-2 cursor-pointer">
                <input type="checkbox" [value]="course.id" (change)="selectCourse(course,$event)"
                   class="checkbox checkbox-primary" />
                <span>{{ course.name }}</span>
              </label>
            </li>
          </ul>
      </details>
    <div class="flex justify-between space-x-4">
      <button
        (click)="onCancel()"
        type="reset"
        class="bg-warning btn flex flex-row space-x-2 rounded p-2 text-white"
      >
        <mat-icon fontIcon="cancel"></mat-icon>Cancel
      </button>
      <button
        type="submit"
        [disabled]="optionForm.invalid"
        class="bg-success btn flex flex-row rounded p-2 text-white disabled:opacity-50">
        <mat-icon fontIcon="save"></mat-icon>Add
      </button>
    </div>
  </form>
</div>

