<div class="dock border-base-200 border-t">
  <button
    class="hover:bg-gray-100"
    routerLink="home"
    routerLinkActive="dock-active"
  >
    <mat-icon fontIcon="home" class=""></mat-icon>
    <span class="dock-label">Home</span>
  </button>
  <button
    class="hover:bg-gray-100"
    routerLink="sites"
    routerLinkActive="dock-active"
  >
    <mat-icon fontIcon="domain" class=""></mat-icon>
    <span class="dock-label">Sites</span>
  </button>

  <button class="hover:bg-gray-100"
  routerLink="groups"
  routerLinkActive="dock-active">
    <mat-icon fontIcon="groups" class=""></mat-icon>
    <span class="dock-label">Groups</span>
  </button>

  <button class="hover:bg-gray-100"
  routerLink="options"
  routerLinkActive="dock-active">
    <mat-icon fontIcon="school" class=""></mat-icon>
    <span class="dock-label">Options</span>
  </button>
  
  <button class="hover:bg-gray-100"
  routerLink="courses"
  routerLinkActive="dock-active">
    <mat-icon fontIcon="history_edu" class=""></mat-icon>
    <span class="dock-label">Courses</span>
  </button>

  <button class="hover:bg-gray-100">
    <mat-icon fontIcon="shelves" class=""></mat-icon>
    <span class="dock-label">Equipments</span>
  </button>
</div>
