<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div>
      <ul class="nav">
        <li>
          <a routerLink="/university"
            ><mat-icon fontIcon="school"></mat-icon>University</a
          >
        </li>
        <li>
          <a routerLink="/sites"
            ><mat-icon fontIcon="domain"></mat-icon>Sites</a
          >
        </li>
        <li>
          <a routerLink="/classrooms"
            ><mat-icon fontIcon="meeting_room"></mat-icon>Classrooms</a
          >
        </li>
        <li>
          <a routerLink="/groups"
            ><mat-icon fontIcon="groups"></mat-icon>Student Groups</a
          >
        </li>
        <li>
          <a routerLink="/equipments"
            ><mat-icon fontIcon="category"></mat-icon>Equipments</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a (click)="openUniversityChoice()"
            ><mat-icon fontIcon="logout"></mat-icon>Change University</a
          >
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
