<app-legend-card [legend]="'Courses'">
@if (courseList$ | async; as courses) {
    <div class="rounded-box bg-base-100">
      <div
        class="rounded-box border-base-content/5 bg-base-100 border-base-content overflow-x-auto"
      >
        <table class="table-pin-rows table w-full">
          <thead>
            <tr class="pt-2 pb-2">
              <th></th>
              <th>Name</th>
              <th>Code</th>
              <th>Description</th>
              <th>Total Hours</th>
              <th>Weekly Hours</th>
              <th>Semester</th>
              <th>Credits</th>
              <th>Equipment Type</th>
              <th class="">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (course of courses; track course?.id; let i = $index) {
              <tr
                class="hover:bg-base-200 group hover:rounded-box"
              >
                <th>{{ i }}</th>
                <td>{{ course?.name }}</td>
                <td>{{ course?.code }}</td>
                <td>{{ course?.description }}</td>
                <td class="pl-10">{{ course?.totalHours }}</td>
                <td class="pl-14">{{ course?.weeklyHours }}</td>
                <td class="pl-10">{{ course?.semester }}</td>
                <td class="pl-9">{{ course?.credits }}</td>
                <td>@for(equipment of course.equipmentType ; track equipment.id;){
                      {{ equipment.name }}
                    }
                </td>
                <td class="space-x-2">
                  <button
                  class="rounded-box border-base-100 group-hover:border-base-200 cursor-pointer border px-3 py-1 text-blue-400 hover:border-blue-400 hover:bg-blue-100"
                  (click)="onSelect(course.id!)">
                  view
                </button>
                  <button class="rounded-box border-base-100 group-hover:border-base-200 cursor-pointer border px-3 py-1 text-green-400 hover:border-green-400 hover:bg-green-100"
                  (click)="onEdit(course)">
                  edit
                  </button>
                  <button class="rounded-box border-base-100 group-hover:border-base-200 cursor-pointer border px-3 py-1 text-red-400 hover:border-red-400 hover:bg-red-100" 
                  (click)="onDelete(course.id!)">
                    delete
                  </button>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="10" class="text-center">No Courses!</td>
              </tr>
            }
            <tr>
              <td colspan="10" class="text-center">
                <button
                routerLink="/courses/add"
                class="rounded-box cursor-pointer border border-green-400 px-3 py-1 text-green-400 hover:bg-green-100 hover:text-green-500">
                + Add a new course
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  } @else {
    <p>Course not found!</p>
  }
</app-legend-card>
  


