<ul
  class="menu bg-base-100 rounded-box border-base-300 flex h-full w-56 flex-col justify-start gap-2 border shadow-lg"
>
  <li>
    <a routerLink="university" routerLinkActive="current">
      <mat-icon fontIcon="home" class=""></mat-icon>
      University
    </a>
  </li>
  <li>
    <a routerLink="sites" routerLinkActive="current">
      <mat-icon fontIcon="domain" class=""></mat-icon> Sites
    </a>
  </li>
  <li>
    <a routerLink="classrooms" routerLinkActive="current">
      <mat-icon fontIcon="meeting_room" class=""></mat-icon> Classrooms
    </a>
  </li>
  <li>
    <a routerLink="groups" routerLinkActive="current">
      <mat-icon fontIcon="groups" class=""></mat-icon> Student Groups
    </a>
  </li>
  <li>
    <a routerLink="equipments" routerLinkActive="current">
      <mat-icon fontIcon="shelves" class=""></mat-icon> Equipments
    </a>
  </li>
  <li>
    <a routerLink="schedules" routerLinkActive="current">
      <mat-icon fontIcon="calendar_month" class=""></mat-icon> Schedules
    </a>
  </li>
</ul>
