<div
  class="card bg-base-100 flex flex-col items-center justify-center rounded-lg"
>
  <h1 class="card-title mt-4">Add Student Group</h1>
  <form
    [formGroup]="studentGroupForm"
    (ngSubmit)="onSave()"
    class="card-body flex w-64 flex-col space-y-4"
  >
    <input
      type="text"
      placeholder="Code"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="code"
    />
    <input
      type="text"
      placeholder="Nbr. of Students"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="numberOfStudents"
    />
    <input
      type="text"
      placeholder="Option Grade"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="optionGrade"
    />
    <input
      type="text"
      placeholder="Option"
      class="input focus:ring-none focus:border-secondary focus:outline-none"
      formControlName="option"
    />
    <select formControlName="site" id="site" class="select focus:ring-none focus:border-secondary focus:outline-none">
        <option [ngValue]="null" disabled>Site</option>
        <option *ngFor="let site of siteList$ | async as sites" [value]="site.id">
          {{ site.name }}
        </option>
      </select>
    <div class="flex justify-between space-x-4">
      <button
        (click)="onCancel()"
        type="reset"
        class="bg-warning btn flex flex-row space-x-2 rounded p-2 text-white"
      >
        <mat-icon fontIcon="cancel"></mat-icon>Cancel
      </button>
      <button
        type="submit"
        [disabled]="studentGroupForm.invalid"
        class="bg-success btn flex flex-row rounded p-2 text-white disabled:opacity-50">
        <mat-icon fontIcon="save"></mat-icon>Add
      </button>
    </div>
  </form>
</div>
