<div>
  <h1>University</h1>
  @if (editMode) {
  <div>
    <form [formGroup]="universityForm" (ngSubmit)="save()">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Code" formControlName="code" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone" />
      </mat-form-field>
      <div>
        <button mat-button (click)="cancel()" type="reset">
          <mat-icon fontIcon="cancel"></mat-icon>Cancel
        </button>
        <button mat-button type="submit" [disabled]="!universityForm.valid">
          <mat-icon fontIcon="save"></mat-icon>Save
        </button>
      </div>
    </form>
  </div>
  } @else { @if (university$ | async; as university) {
  <div>
    <h3>Name :</h3>
    <p>{{ university.name }}</p>
    <h3>Code :</h3>
    <p>{{ university.code }}</p>
    <h3>Address :</h3>
    <p>{{ university.address }}</p>
    <h3>Phone :</h3>
    <p>{{ university.phone }}</p>
    <button mat-button (click)="edit()">
      <mat-icon fontIcon="edit"></mat-icon>Edit
    </button>
  </div>
  } @else {
  <p>University not found!</p>
  } }
</div>
