/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

/* // Material Tailwind Fixes */
.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
