@if (options$ | async; as options) {
    <div class="rounded-box bg-base-100">
      <div
        class="rounded-box border-base-content/5 bg-base-100 border-base-content overflow-x-auto"
      >
        <table class="table-pin-rows table w-full">
          <thead>
            <tr class="pt-2 pb-2">
              <th></th>
              <th>Nom</th>
              <th>Code</th>
              <th>Description</th>
              <th>Cours</th>
              <th class="">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (option of options; track option?.id; let i = $index) {
              <tr
                class="hover:bg-primary hover:text-primary-content hover:rounded"
              >
                <th>{{ i }}</th>
                <td>{{ option?.name }}</td>
                <td>{{ option?.code }}</td>
                <td>{{ option?.description }}</td>
                <td>@for(course of option?.courses; track course?.id;){
                      {{ course.name }}
                    }
                </td>
                <td class="space-x-2">
                  <button mat-icon-button >
                    <mat-icon fontIcon="edit" (click)="onEdit(option.id!)"></mat-icon>
                  </button>
                  <button mat-icon-button (click)="onDelete(option.id!)">
                    <mat-icon fontIcon="delete"></mat-icon>
                  </button>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="7" class="text-center">No option!</td>
              </tr>
            }
            <tr>
              <td colspan="7" class="text-center">
                <button routerLink="/options/add" class="btn btn-primary mr-1 p-1">
                  <mat-icon fontIcon="add"></mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  } @else {
    <p>Option not found!</p>
  }
  

